


#image_article_r
{
	margin:0px 0 20px 20px ; 
}
#image_article_l
{
	margin:0px 20px 10px 0px ; 
}

/*сдержание*/
#rounded {
	width: 300px;
	margin-left: 20px;
counter-reset: li; 
list-style: none; 
font: 14px "Trebuchet MS", "Lucida Sans" ;
padding: 0;
text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

#rounded a {
position: relative;
display: block;
padding: .4em .4em .4em 2em;
margin: .5em 0;
background: #DAD2CA;
color: #444;
text-decoration: none;
border-radius: .3em;
transition: .3s ease-out;
}
#rounded a:hover {background: #E9E4E0;}
#rounded a:hover:before {transform: rotate(360deg);}
#rounded a:before {
content: counter(li);
counter-increment: li;
position: absolute;
left: -1.3em;
top: 60%;
margin-top: -1.3em;
background: #E4FF88;
height: 2em;
width: 2em;
line-height: 2em;
border: .1em solid white;
text-align: center;
font-weight: bold;
border-radius: 2em;
transition: all .3s ease-out;
}
/*-------------- конец содержания*/

/* padding-bottom and top for image */
.mfp-no-margins img.mfp-img {
	padding: 0;
}
/* position of shadow behind the image */
.mfp-no-margins .mfp-figure:after {
	top: 0;
	bottom: 0;
}
/* padding for main container */
.mfp-no-margins .mfp-container {
	padding: 0;
}
