@import url('https://fonts.googleapis.com/css?family=Fira+Sans');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC');
@import url('https://fonts.googleapis.com/css?family=Caveat:400,700|Vast+Shadow');


body{
	margin:0;
	font-family: 'Fira Sans', sans-serif;
}

/* ----- Шапка  ------- */
.header_top{
	width:100%;
	height:90px;
	background-image: url(images/head_fon.png);
/**/	background-size: contain;
	/*background: #89FFFB;*/
}
#long_top
{
		height:300px;

}
.header_top_inside{
	width:1000px;
	height:90px;
	margin:auto;
	/* border:1px green solid; */
}
.logo_link{
text-decoration: none !important;
}

.logo_img{
	height:90px;
}
.logo_text{
	color:#ffffff;
	font-size: 50px;
	text-decoration: none !important;
	/*font-family: 'Vast Shadow', cursive;*/
	font-family: 'Caveat', cursive;
	
}

.soc-header{	
	font-size:18px;
	float:right;
}
.soc-btns-head{
	margin-top: 25px;
	margin-right: 20px;
}

/*        Новое меню              */
.menu_inside{
	width: 1000px;
	margin:auto;
	z-index: 200;
}

.menu{
	z-index: 10000;
	font-family: 'Playfair Display SC', serif;
	background-color: white;
	width: 100%;
	float: left;
	border-bottom: 2px solid #F2F2F2;
	z-index: 1;
	font-size: 14px;
	text-align: center;
}
.menu .menu_item{

	padding: 7px 2.5%;
	float: left;

	/*outline: 1px solid silver;*/
	transition: 0.4s ease-in-out;
	-webkit-transition:0.4s ease-in-out;
	-moz-transition:0.4s ease-in-out;

	color: #323232;
	font-size: 1.7em;
	display: inline-block;
    line-height: 1;
    text-decoration:none;
    cursor: pointer;
    position:relative;
	
}
.menu #this_page{
	background-color: #D8D8D8;
	
	/*border-bottom: 2px green solid;*/

}
.menu .menu_item:after{
	background-color: #323232;
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    -webkit-transition: width .3s ease-in-out;
    -moz-transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}

.menu .menu_item:hover:after,
.menu .menu_item:focus:after {
    width: 100%;
}

.fixed{
	z-index: 200;
	position: fixed;
	top:0;
	opacity: 0.94;
}
/*   ВЫподающее меню        */

/*     Слайдер картинок          */



/* -------  (Главная страница) block_main  -------- */
.block_main{

	width:100%;
	padding-top: 40px;

	
}
#main_h{
	padding-top: 40px;
}

.block_main_inside{
	
	width:1000px;
	margin:auto;
}
  /*  Здесь начинается контент  */
.content{

	font-family: Playfair;
}

#main_h1{
	margin-top:20px;
}
/* -------  footer  -------- */

.footer{
	background-image: url(images/head_fon.png);
	width:100%;
	color: white;
}

.footer_inside{
	width:1000px;
	height:230px;
	margin:auto;
	
}

.footer h5{
	margin: 15px 0;
}
#menu_footer_block{
	margin-left: 100px;
}
.menu_footer a{
	color:white;
}
.menu_footer a:hover{
	color:white;
}

#bgpu_embl
{
	width: 100px;
	margin-left: auto;
	text-align: center;
}

.soc_footer{
	margin: 15px 0 10px 60px;
	text-decoration: none;

}
.soc-href:hover{
	text-decoration: none;
	
}

.soc_btn{
	width: 40px;
	margin-right: 5px;
}

/* up button */

#go-top {
  position: fixed; 
  bottom: 25px; 
  right: 30px; 
  cursor:pointer; 
  display:none;
  width: 50px;
transition: ease-out  .5s;
}
 
#go-top:hover {
  width:70px;
  bottom: 15px; 
  right: 20px;
  transform: rotate(360deg);
}

/*end up button*/

